spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/e-commerce
        driver-class-name: org.postgresql.Driver
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}

    jpa:
        hibernate:
            ddl-auto: create
        defer-datasource-initialization: true

    sql:
        init:
            mode: always

    mail:
        host: smtp.gmail.com
        port: 587
        username: ${MAIL_USERNAME}
        password: ${MAIL_PASSWORD}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true

    application:
        name: nexus_e-commerce

app:
    base-url: "http://localhost:8080"

aws:
    s3:
        bucket-name: ${AWS_S3_BUCKET}
        region: ${AWS_REGION}
    credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_ACCESS_KEY}
    presigned-url:
        upload-expiration-minutes: 15
        download-expiration-minutes: 60

logging:
    level:
        root: INFO
        com:
            nexus:
                ecommerce: DEBUG

jwt:
    secret_key: ${JWT_SECRET_KEY}
    access_token_expiration: 900000

refresh_token_expiration: 604800000